<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<tui-root>
  <header tuiNavigationHeader>
    <span tuiNavigationLogo>
      <tui-icon icon="@tui.car" />
      <span tuiFade>Street gonki</span>
    </span>
    <hr />
    @if (authService.currentUser?.accountType === 'ADMIN') {
    <a
      iconStart="@tui.book-user"
      tuiIconButton
      type="button"
      [routerLink]="['/approve-new-admins']"
    >
      Approve new admins
    </a>
    } @if (authService.currentUser?.username) {
    <button
      iconStart="@tui.log-out"
      tuiIconButton
      type="button"
      (click)="logout()"
    >
      Log out
    </button>
    <tui-avatar [src]="authService.currentUser!.username.slice(0, 2)" />
    }
  </header>
  <div [style.display]="'flex'">
    <aside [tuiNavigationAside]="expanded">
      @if (authService.isAuthenticated) { @if (expanded) {
      <p tuiAsideItem>Special commands:</p>
      }
      <button
        iconStart="@tui.bomb"
        tuiAsideItem
        type="button"
        (click)="
          openDialog(fuelConsumptionForm, 'Bomb all');
          removeVehicleByFuelMode.set('all')
        "
      >
        Throw bomb
      </button>
      <button
        iconStart="@tui.flame"
        tuiAsideItem
        type="button"
        (click)="
          openDialog(fuelConsumptionForm, 'Burn it');
          removeVehicleByFuelMode.set('any')
        "
      >
        Burn the vehicle
      </button>
      <button
        iconStart="@tui.fuel"
        tuiAsideItem
        type="button"
        (click)="showFuelConsumptionsSet()"
      >
        Get fuel consumptions set
      </button>
      <button
        iconStart="@tui.car-front"
        tuiAsideItem
        type="button"
        (click)="openDialog(vehicleTypeForm, 'Get by type')"
      >
        Get vehicles by type
      </button>
      <button
        iconStart="@tui.life-buoy"
        tuiAsideItem
        type="button"
        (click)="openDialog(addWheelsToVehicleForm, 'Add wheels')"
      >
        Add wheels to vehicle
      </button>
      <hr />
      <button
        iconStart="@tui.plus"
        tuiAsideItem
        type="button"
        (click)="createNewVehicle()"
      >
        Create new vehicle
      </button>
      }
      <footer>
        <button
          tuiAsideItem
          type="button"
          [iconStart]="expanded ? '@tui.chevron-left' : '@tui.chevron-right'"
          (click)="expanded = !expanded"
        >
          {{ expanded ? 'Collapse' : 'Expand' }}
        </button>
      </footer>
    </aside>
    <main tuiNavigationMain>
      <router-outlet></router-outlet>
    </main>
  </div>

  <ng-template #fuelConsumptionForm let-context>
    <tui-textfield class="tui-space_bottom-3">
      <label tuiLabel>Fuel consumption</label>
      <input tuiTextfield [formControl]="fuelConsumptionControl" />
    </tui-textfield>
    <button
      tuiButton
      type="button"
      (click)="removeVehiclesWithFuelConsumption(); context.complete()"
    >
      Remove
    </button>
  </ng-template>

  <ng-template #addWheelsToVehicleForm let-context>
    <tui-textfield class="tui-space_bottom-3">
      <label tuiLabel>Vehicle ID</label>
      <input tuiTextfield [formControl]="vehicleIdControl" />
    </tui-textfield>
    <tui-textfield class="tui-space_bottom-3">
      <label tuiLabel>Wheels count</label>
      <input tuiTextfield [formControl]="wheelsCountControl" />
    </tui-textfield>
    <button
      tuiButton
      type="button"
      (click)="context.complete(); addWheelsToVehicleWithId()"
    >
      Add
    </button>
  </ng-template>

  <ng-template #vehicleTypeForm let-context>
    <tui-select
      class="tui-form__row"
      [formControl]="vehicleTypeControl"
      tuiTextfieldSize="l"
    >
      Type
      <input tuiTextfieldLegacy placeholder="Type" />
      <tui-data-list-wrapper
        *tuiDataList
        [items]="['-', 'PLANE', 'SUBMARINE', 'MOTORCYCLE', 'SPACESHIP']"
      />
    </tui-select>
    <button
      class="tui-space_top-3"
      tuiButton
      type="button"
      (click)="context.complete(); findVehiclesByType(vehiclesTable)"
    >
      Search
    </button>
  </ng-template>

  <ng-template #vehiclesTable let-context>
    <app-home [inputData]="foundVehiclesByType()"></app-home>
  </ng-template>
</tui-root>
